body {
  margin: 0;
  font-family: "Montserrat";
}

p {
  /* color: #8f8f8f; */
  color: #b8b6b6;
}

.as-hr{
  height: 2px;
  /* background-image: linear-gradient(to right, #757575 2%, #FFF603 20%, #FC00FF 80%, #757575 100%); */
  background-image: linear-gradient(to right, white, #FFF603 20%, #FC00FF 80%, white);
  margin: 5% 0;
}

.container-fluid {
  padding: 2% 12%;
}



/* Body Header */
#body-header {
background-color: #757575;
}

.logo-top {
  position: sticky;
  width: 15%;
  padding: 1%;
}


/* Title Section */

#title {
  /* background-color: #757575; */
  background-image: url("background.svg");
  /* background: linear-gradient(white, #757575); */
  /* background-color: #091416; */
  padding-top: 5%;
  padding-bottom: 5%;
}

.big-heading {
  font-family: "Kanit";
  font-size: 4.5rem;
}

.title-image {
  width: 60%;
  margin-bottom: 10px;
  /* transform: rotate3d(1, 1, 0, 192deg); */
}

.navbar {
  /* background-color: #757575; */
  margin-bottom: 4.5rem;
  color: white;
}

.navbar-brand {
  font-family: "Be Vietnam Pro";
  font-size: 2rem;
  color: white;
  padding-right: 2rem;

}

.nav-item {
  color: white;
  font-size: 1.2rem;
  padding: 0 14px;
}

.nav-link {
  color: white;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color:  #FFF603;
}


.highlight-txt {
  color: #FFF603;
  background-color: #757575;
}

.gradient-text {
  background: linear-gradient(to right, #FFF603 0%, #FC00FF 100%);
  /* background: linear-gradient(to right, #FC00FF 0%, #FFF603 100%); */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.btn-outline-dark{
  border-color: #FFF603;
  margin-top: 1rem;
}
.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark.active {
background-color: #FFF603;
border-color: #FFF603;
color: #000;
}


/* Features Section */

#features {
  position: relative;
  padding: 3% 0;
  background-color: #757575;
  /* background: linear-gradient(white, #FFF603); */
}

.feature-title {
  font-size: 1.5rem;
  color: white;
}

.feature-box {
  padding: 4.5%;
  text-align: center;
}

.icon {
  /* color: #FFAD60; */
  color: #fffa6e;
  margin-bottom: 1rem;
}

.icon:hover {
  /* color: #F47340; */
  color: #FFF603;
}


/* Vision Section  */

#vision {
  /* position: relative; */
  /* padding: 3% 0; */
  /* background-color: #757575; */
  /* background: linear-gradient(white, #FFF603); */
}

.container-tile {
  padding: 0 1% 0 0;
}

.image-col {
  width: 100%;
}

.img-tile {
  padding: 0;
}

.txt-tile {
  /* padding: 2% 2% 2% 2%; */
  text-align: justify;
  text-justify: inter-word;
}

/* Pricing Section */




#pricing {
  padding: 100px;
  background-color: #FFF603;
  /* background: linear-gradient(#FFF603 70%, #FC00FF 90%); */
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}



/* Footer  */
#footer {
  background-color: #757575;
  text-align: center;
  padding: 5%;
}

.icon-contact {
  margin-right: 0.5rem;
}

.logo-bottom {
  position: sticky;
  width: 50%;
  margin: 8%;
}
